<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <figure class="figure">
      <img src="https://www.pushengage.com/wp-content/uploads/2022/02/Best-Website-Welcome-Message-Examples.png" class="figure-img img-fluid rounded" alt="..." style="height: 100vh;width: 100vw;">
      <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
  </div>
</body>